{% extends "include/unlogin_base.html" %}
{% load static %}

{% block custome_style %}
    <!-- Custom styles for this template -->
    <link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock custome_style %}

{% block content %}
    <form method="post" action="{% url 'login' %}" novalidate>
          <div class="header">
            <h2>Log In</h2>
          </div>
          {% csrf_token %}
          <div class="row login">
            <div class="col-3">
              Login
            </div>
            <div class="col-9" >
              {{ form.username }}
            </div>
          </div>

          <div class="row login">
            <div class="col-3">
              Password
            </div>
            <div class="col-9">
              {{ form.password }}
              <br>
              <button class="btn btn-outline-success button" type="submit">Log in</button>
              <br>
              <a href="{% url "reg" %}">create new account</a>
            </div>
            {% include "include/interrapt_input.html" %}
          </div>
    </form>
{% endblock content %}
