{% extends "include/unlogin_base.html" %}
{% load static %}

{% block custome_style %}
    <!-- Custom styles for this template -->
    <link href="{% static "css/new_question.css" %}" rel="stylesheet">
{% endblock custome_style %}

{% block content %}
          <H1 class="new_question">New Question</H1>
          <form action="{% url "question" id=1 %}" id="create-form" class="needs-validation" novalidate>
          <div class="row title">
              <div class="col-2">
                Title
              </div>
              <div class="col-10">
                  {{ form.name }}
              </div>
            </div>

            <div class="row text">
              <div class="col-2">
                Text
              </div>
              <div class="col-10">
                {{ form.text }}
              </div>
            </div>

             <div class="row tags">
              <div class="col-2">
                Tags
              </div>
              <div class="col-10">
                {{ form.tags }}
              </div>
            </div>

            <button class="ask" type="submit">ASK!</button>
        </form>
{% endblock content %}
