{% extends "include/unlogin_base.html" %}
{% load static %}

{% block custome_style %}
    <!-- Custom styles for this template -->
    <link href="{% static "css/question.css" %}" rel="stylesheet">
{% endblock custome_style %}

{% block content %}
          <!-- Question -->
          {% include "include/single_header_question.html" %}

          <!-- Answers -->
          {% for answer in objects %}
            {% include "include/single_answer.html" %}
          {% endfor %}

          <!-- Pages -->
          {% include "include/paginates.html" %}

          <div class="line"></div>

          {% if user.is_authenticated %}
            <form method="post" novalidate>
            {% csrf_token %}
            <div class="input_answer">
                {{ form.text }}
                {% include "include/interrapt_input.html" %}
                <div>
                    <button class="button" type="submit">Answer</button>
                </div>
            </div>
            </form>
          {% else %}
              <div class="input_answer">
                <a href="{% url 'login' %}?continue={{ request.path }}" class="button">Log in to answer</a>
              </div>
          {% endif %}
{% endblock content %}
