{% load static %}
    <div class="row question">
            <div class="col-3 text_img">
              <figure class="sign">
                <p><img src="{{ question.author.image }}" width="130" height="130"></p>
                <figcaption>
                  <p class="number">{{ question.rating }}</p>
                   <button>
                    <img class="appraisal" src="{% static "img/like.png" %}" >
                  </button>
                  <button>
                  <img class="appraisal" src="{% static "img/dislike.png" %}" >
                  </button>
                </figcaption>
              </figure>
            </div>
            <div class="col-9">
              <a href="{% url 'question' question.id %}"><h2>{{ question.name }}</h2></a>
              <div>
                {{ question.text }}
              </div>

               <div class="row indent">
                  <div class="col-4">
                    <a href="{% url 'question' question.id %}">answer({{ question.answers.count }})</a>
                  </div>
                  <div class="col-8">
                      Tags:
                      {% for tag in question.tags.all %}
                        <a href="{% url "tag" tag.id %}">{{ tag }}</a>
                      {% endfor %}
                  </div>
                </div>

          </div>
          </div>