{% load static %}
          <div class="row answer">
            <div class="col-3 text_img">
              <figure class="sign">
                <p><img src="{% static "img/200.jpg"%}" width="130" height="130" alt="Скульптура"></p>
                <figcaption>
                  <p class="number">5</p>
                   <button>
                    <img class="appraisal" src="{% static "img/like.png" %}">
                  </button>
                  <button>
                  <img class="appraisal" src="{% static "img/dislike.png" %}">
                  </button>
                </figcaption>
              </figure>
            </div>
            <div class="col-9">
              <div>
                {{ answer.text }}
              </div>
              <input type="checkbox" class = "check"> Correct!<Br>
          </div>
          </div>